.container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.sidebar {
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text {
  background-color: rgba(219, 5, 5, 0.159);
  color: rgb(219, 5, 5);
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 10px;
  height: 50px;
}

@media only screen and (max-width: 1280px) {
  .sidebar {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 640px) {
  .container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
}
