.container {
  border-bottom: 2px solid var(--mainColor);
  padding-bottom: 20px;
  margin-bottom: 45px;
}
.header {
  color: grey;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.header h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--mainColor);
}
.header a {
  font-size: 1rem;
  font-weight: 400;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}
.header:hover {
  color: var(--mainColor);
}
.header svg {
  width: 18px;
  height: 18px;
}

.container p {
  text-align: justify;
  margin-bottom: 20px;
}

.properties {
  display: flex;
  margin-bottom: 20px;
}

.properties span {
  background-color: var(--borderColor);
  color: var(--mainColor);
  padding: 5px 10px;
  margin-left: 15px;
  border-radius: 5px;
}

.container button {
  background-color: #00a800;
  border: none;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: all ease-in 0.1s;
}
.container .delete {
  background-color: #d60101;
  margin-right: 2rem;
}

.container button:hover {
  color: #000;
}
