.container {
  margin-bottom: 40px;
  width: 250px;
  border: 1px var(--mainColor) dashed;
  color: grey;
  border-radius: 5px;
  direction: ltr;
  padding: 5px;
  font-size: 1rem;
  height: 40px;
}
.focus {
  border: 1px var(--mainColor) solid;
  outline: none;
}
.container input {
  color: grey;
  font-size: 1rem;
  outline: none;
  border: none;
  width: calc(250px - 35px);
  height: 100%;
}

.showIcon {
  margin-left: 5px;
  padding: 5px 0;
}
.showIcon svg {
  color: black;
  font-size: 1.1rem;
}
