.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 30px 15px;
  border-radius: 10px;
  box-shadow: var(--boxShadowColor) 0px 4px 15px;
  margin-left: 40px;
  width: 220px;
}
.sidebar p {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
}

.sidebar p svg {
  margin-left: 5px;
  font-size: 1.3rem;
  color: var(--mainColor) !important;
}

.sidebar a {
  color: grey;
  margin: 5px;
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 640px) {
  .sidebar {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
}
